.containerPrincipal {
  background-color: white;
  padding: 1.5rem;
  border-radius: 1rem;
  border: 1px solid #ccc;
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

.metaTagText {
  color: rgb(34, 34, 34);
  font-weight: 600;
}

.li {
  list-style: none;
  font-weight: bold;
  margin: 0.5rem 0;
}